<div class="card" *ngIf="soggetto">
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class=" col">
          <label for="name">Nome</label>
          <h3>
            {{ soggetto.name }}
          </h3>
        </div>
        <div class=" col">
          <label for="surname">Cognome</label>
          <h3>
            {{ soggetto.surname }}
          </h3>
        </div>
      </div>

      <div class="row">
        <div class=" col">
          <label for="country">Country</label>
          <h3>
            {{ soggetto.country }}
          </h3>
        </div>
        <div class=" col">
          <label for="region">Regione</label>
          <h3>
            {{ soggetto.region }}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class=" col">
          <label for="province">Province</label>
          <h3>
            {{ soggetto.province }}
          </h3>
        </div>
        <div class=" col">
          <label for="city">City</label>
          <h3>
            {{ soggetto.city }}
          </h3>
        </div>
      </div>
      <div class="row">
        <div class=" col">
          <label for="taxCode">Tax Code</label>
          <h3>
            {{ soggetto.taxcode }}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
