<p-card  [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
        <img src="Card" src="/assets/image/logo.jpg">
    </p-header>

    <div>
        <h3>Username</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" pInputText> 
    <label for="float-input">Username</label>
</span>
        
        <h3 class="first">Password</h3>
        <input pPassword type="password"/>
    
    </div>
    <p-footer>
        <button pButton type="button" label="Accedi" icon="pi pi-check" style="margin-right: .25em"></button>
        <button pButton type="button" label="Nuovo" icon="pi pi-times" class="ui-button-secondary"></button>
    </p-footer>
</p-card>